body {
	text-align: center;
}

.buttonContainer {
    width: 50%;
	height: 50%;
}

.buttonContainer > .resClass {
	width: 100%;
	background-color: lightgray;
	border: solid;
	height: 48px;
	font-size: 20px
}

.buttonContainer > .buttonClass {
    width: 33.3%;
    height: 50px;
    font-size: 18px;
	margin: 0px;
	float: left;
}